<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD Application</title>
</head>
<body>
    
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {% if user.is_authenticated %} 
            <li>
                <a href="{% url 'tasks' %}">Pending Tasks</a>
            </li>
            <li>
                <a href="{% url 'completed_tasks' %}">Completed Tasks</a>
            <li>
                <a href="{% url 'logout' %}">Log Out</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li>
                <a href="{% url 'signin' %}">Sign In</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}

    {% endblock %}
    <br>
    Todos los derechos reservados OV &copy; 2025
</body>
</html>