{% extends 'base.html' %}

{% block content %}

<h1>Pending Tasks</h1> 

{% for task in tasks %}
    <div>
        <a href="{% url 'tasks_details' task.id %}">
            {% if task.important %}
                <strong>{{task.title}}</strong>
            {% else %}
                {{task.title}}
            {% endif %}
        </a>
        <p>{{ task.description }}</p>
        <p>{{ task.datecompleted|date:'M j Y:i' }}</p>
        
    </div>
{% empty %}
    <p>No tasks available.</p>
{% endfor %}

{% endblock %}